In [ ]:
import json
import pandas as pd
import numpy as np
import re
import time
from sqlalchemy import create_engine
from config import db_password
import psycopg2

In [ ]:
file_dir = r'C:\Users\clava\Movies-ETL'

In [ ]:
f'{file_dir}filename'

In [ ]:
# read wiki movies json file.
with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [ ]:
len(wiki_movies_raw)

In [ ]:
# inspect the data.
# First 5 records
wiki_movies_raw[:5]

In [ ]:
# Last 5 records
wiki_movies_raw[-5:]

In [ ]:
# Some records in the middle
wiki_movies_raw[3600:3605]

In [ ]:
# read the kaggle and ratings files.

kaggle_metadata = pd.read_csv(f'{file_dir}\movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}\\ratings.csv')

In [ ]:
# inspect the data.
kaggle_metadata.head()

In [ ]:
ratings.head()

In [ ]:
kaggle_metadata.sample(n=5)

In [ ]:
ratings.sample(n=5)

In [ ]:
# create a dataframe from wiki_movies_raw.
wiki_movies_df = pd.DataFrame(wiki_movies_raw)
len(wiki_movies_df.columns)

In [ ]:
# check column names.
wiki_movies_df.columns.tolist()

In [ ]:
# remove movies without a Director and no imdb link. 
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie
                   and 'No. of episodes' not in movie]
len(wiki_movies)
type(wiki_movies)

In [ ]:
# create a dataframe from wiki_movies
wiki_movies_df = pd.DataFrame(wiki_movies)

len(wiki_movies_df.columns)

In [ ]:
# create a clean movie function. 
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    return movie

In [ ]:
# investigate column Preceded by
wiki_movies_df[wiki_movies_df['Preceded by'].notnull()]['Preceded by']

In [ ]:
# sort dataframe columns. 
sorted(wiki_movies_df.columns.tolist())

In [ ]:
# investigate columns for other languages.
wiki_movies_df["Simplified"].value_counts()

In [ ]:
# create a function that creates alt_titles column and changes column names.  
# Note: The only column under Writer(s) was a video game, without a director, so it was removed.
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles
        
    # merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Written by')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release date')
    change_column_name('Screen story by', 'Written by')
    change_column_name('Screenplay by', 'Written by')
    change_column_name('Story by', 'Written by')
    change_column_name('Theme music composer', 'Composer(s)')
    

    return movie

In [ ]:
# run clean_movies function and recreate wiki_movies_df.  Sort columns to list. 
clean_movies = [clean_movie(movie) for movie in wiki_movies]
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

In [ ]:
# extract imdb ids from imdb_link column.
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')

# drop duplicate movies using imbd_id
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)

print(len(wiki_movies_df))
wiki_movies_df.head()

In [ ]:
# check for null columns.
wiki_movies_df.count()

In [ ]:
# check for non-null columns.
[[column,wiki_movies_df[column].isnull().sum()] for column in wiki_movies_df.columns]

In [ ]:
# check for columns that are 90% non-null.
[column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]

In [ ]:
# drop columns that are less than 90% non-null.
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
# update the dataframe. 
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [ ]:
# investigate the dataframe. 
wiki_movies_df.head(5)

In [ ]:
# check the data types in the dataframe. 
wiki_movies_df.dtypes

In [ ]:
# create a data series and drop null values for Box Office column. 
box_office = wiki_movies_df['Box office'].dropna()
len(box_office)

In [ ]:
# create a function that returns non-string values in box_office series. 
def is_not_a_string(x):
    return type(x) != str

box_office[box_office.map(is_not_a_string)]

In [ ]:
# use the lamba function to do the same.
box_office[box_office.map(lambda x: type(x) != str)]

In [ ]:
# use the lambda function to change lists to concatenated string. 
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# create a form to catch the first type(s) of value format. 
form_one = r'\$\d+\.?\d*\s*[mb]illion'

In [ ]:
# see how many match this form. 
box_office.str.contains(form_one, flags=re.IGNORECASE, na=False).sum()

In [ ]:
# create a form to catch the second type(s) of value format. 
form_two = r'\$\d{1,3}(?:,\d{3})+'

# see how many match this form. 
box_office.str.contains(form_two, flags=re.IGNORECASE, na=False).sum()

In [ ]:
# create variables for values that match form one and form two. 
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE, na=False)

In [ ]:
# see which values do not match either form. 
box_office[~matches_form_one & ~matches_form_two]

In [ ]:
# replace box office formats that are a range. 
box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [ ]:
# update form one and form two variables.
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'

In [ ]:
# extract those values that match either form. 
box_office.str.extract(f'({form_one}|{form_two})')

In [ ]:
# create a function that makes the values uniform in order to work with data more easily. 
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [ ]:
# create a new box_office column to hold the uniform values, extract those that match either form, and apply the parse_dollars function to those values.
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
wiki_movies_df['box_office']

In [ ]:
# drop the old 'Box office' column. 
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [ ]:
# drop null values in the Budget column.
budget = wiki_movies_df['Budget'].dropna()

In [ ]:
# apply lamba function to 
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# replace values stored as ranges. 
budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [ ]:
# create variables to find matches for each form.
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE, na=False)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE, na=False)
# see which values do not match either form.
budget[~matches_form_one & ~matches_form_two]

In [ ]:
# remove the citation references in budget values.
budget = budget.str.replace(r'\[\d+\]\s*', '')
# see which forms do not match either form. 
budget[~matches_form_one & ~matches_form_two]

In [ ]:
# create a new column for clean budget values, extract those values that match either form and apply parse_dollars function. 
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
wiki_movies_df['budget']

In [ ]:
#  drop the old 'Budget' column.
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [ ]:
# replace list values in 'Release date' column with concatenated string. 
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# create the 4 forms that release date takes. 
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]?\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[0123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [ ]:
# extract those that match each form. 
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

In [ ]:
# create new 'release_date' column in dataframe, extract values that match one of the four forms and apply datetime method to them. 
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [ ]:
# check the 'release_date' column.
wiki_movies_df['release_date']

In [ ]:
# replace values stored as lists with concatenated strings.
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [ ]:
# find values that match first form.
running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False).sum()

In [ ]:
# see what the other values look like. 
running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE, na=False) != True]

In [ ]:
# adjust form to account form additional ways to denote 'minutes'. 
running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False).sum()

In [ ]:
# see which values do not match the adjusted form. 
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE, na=False) != True]

In [ ]:
# update form and extract those values that match. 
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')
len(running_time_extract)

In [ ]:
# convert strings to numeric values. 
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [ ]:
# create new 'running_time' column and use lamba function to change values that use hour(s) format into minutes. 
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [ ]:
# check the new 'running_time' column.
wiki_movies_df['running_time']

In [ ]:
# drop the old "Running time" column. 
wiki_movies_df.drop('Running time', axis=1, inplace=True)

In [ ]:
# check wiki_movies_df data types
wiki_movies_df.dtypes

In [ ]:
# check the kaggle data types.
kaggle_metadata.dtypes

In [ ]:
# check the values in the 'adult'column.
kaggle_metadata['adult'].value_counts()

In [ ]:
# look closer at the 'adult' data.
kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

In [ ]:
# remove the bad data.
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [ ]:
# check the 'video' column data.
kaggle_metadata['video'].value_counts()

In [ ]:
# convert the 'video' data.
kaggle_metadata['video'] == 'True'
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [ ]:
# check the value_counts again. 
kaggle_metadata['video'].value_counts()

In [ ]:
# convert the values to numberic types. 
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [ ]:
# apply datetime function to 'release_date' column. 
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [ ]:
# Start cleaning the ratings dataset.  
# set null_counts to True.
ratings.info(null_counts=True)

In [ ]:
# applyl datetime to 'timestamp' column.
pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
# assign updated 'timestamp' column to dataframe.
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
# check 'rating' distributions by creating a histogram bar chart.
pd.options.display.float_format = '{:20,.2f}'.format
ratings['rating'].plot(kind='hist')
# get summary statistics.
ratings['rating'].describe()

In [ ]:
# merge wiki_movies_df and kaggle_metadata on imdb_id column. create suffixes for shared columns. 
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

In [ ]:
# view columns
movies_df.columns.to_list()

In [ ]:
# Decide how to procede with adjusting columns. 
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             Drop Wikipedia
# running_time             runtime                  Keep Kaggle; fill in zeros with Wikipedia data.
# budget_wiki              budget_kaggle            Keep Kaggle; fill in zeros with Wikipedia data.
# box_office               revenue                  Keep Kaggle; fill in zeros with Wikipedia data.
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
# compore the title columns.
movies_df[['title_wiki','title_kaggle']]

In [ ]:
# check rows where titles do not match.
movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

In [ ]:
# Show any rows where title_kaggle is empty
movies_df[(movies_df['title_kaggle'] == '') | (movies_df['title_kaggle'].isnull())]

In [ ]:
# create a scatter plot of 'running_time' and 'runtime' values. fill any null values with zero. 
movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

In [ ]:
# create a scatter plot of budget column values. fill any null values with zero. 
movies_df.fillna(0).plot(x='budget_wiki',y='budget_kaggle', kind='scatter')

In [ ]:
# create a scatter plot of box_office/revenue values. fill any null values with zero. 
movies_df.fillna(0).plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
# create a scatter plot of box_office/revenue values. fill any null values with zero and remove the extreme outlier. 
movies_df.fillna(0)[movies_df['box_office'] < 10**9].plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
# # create a scatter plot of release_date values. fill any null values with zero. 
movies_df[['release_date_wiki','release_date_kaggle']].plot(x='release_date_wiki', y='release_date_kaggle', style='.')

In [ ]:
# check on the outlier for release_date.
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')]

In [ ]:
# get the index of the outlier for release_date.
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index

In [ ]:
# drop the outlier, The Holiday.
movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [ ]:
# check for null values in 'release_date_wiki' column.
movies_df[movies_df['release_date_wiki'].isnull()]

In [ ]:
# check for null values in 'release_date_kaggle' column.
movies_df[movies_df['release_date_kaggle'].isnull()]

In [ ]:
# change any values in list format to tuple in 'Language' column in wiki movies.  Drop null values. 
movies_df['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

In [ ]:
# check counts for 'original language' in kaggle data. 
movies_df['original_language'].value_counts(dropna=False)

In [ ]:
# compare production columns.
movies_df[['Production company(s)','production_companies']]

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle             Drop Wikipedia
# running_time             runtime                  Keep Kaggle; fill in zeros with Wikipedia data.
# budget_wiki              budget_kaggle            Keep Kaggle; fill in zeros with Wikipedia data.
# box_office               revenue                  Keep Kaggle; fill in zeros with Wikipedia data.
# release_date_wiki        release_date_kaggle      Drop Wikipedia
# Language                 original_language        Drop Wikipedia
# Production company(s)    production_companies     Drop Wikipedia

In [ ]:
# drop the wiki columns we do not want to keep.
movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [ ]:
# create a function to fill null/zero values in kaggle data with data in wiki columns and drop redundant columns. 
def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [ ]:
# apply function to these columns.
fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
movies_df

In [ ]:
#Find any columns with only one value.
for col in movies_df.columns:
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    if num_values == 1:
        print(col)

In [ ]:
#list comprehension instead of for loop.

In [ ]:
# value counts for 'video'.
movies_df['video'].value_counts(dropna=False)

In [ ]:
# drop 'video' column since only 1 value.
movies_df.drop('video', axis=1, inplace=True)

In [206]:
# reorder the columns.
movies_df = movies_df.loc[:, ['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Written by','Composer(s)','Based on'
                      ]]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['id', 'title_kaggle', 'url', 'budget_kaggle', 'release_date_kaggle',\n       ...\n       'Cinematography', 'Editor(s)', 'Written by', 'Composer(s)', 'Based on'],\n      dtype='object', length=15). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [207]:
# rename the columns.
movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Written by':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

In [208]:
movies_df['kaggle_id']

0         9548
1        25501
2        11856
3         8217
4        25943
         ...
6047    429191
6048    390059
6049    429174
6050    412302
6051    341689
Name: kaggle_id, Length: 6051, dtype: int64

In [209]:
# groupby 'movieID' and 'rating' columns, rename the 'userID' column. Pivot the index to 'movieID'
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [210]:
rating_counts

rating,0.50,1.00,1.50,2.00,2.50,3.00,3.50,4.00,4.50,5.00
movieId,,,,,,,,,,
1,441.00,804.00,438.00,"2,083.00","1,584.00","11,577.00","5,741.00","22,020.00","5,325.00","15,995.00"
2,263.00,797.00,525.00,"2,479.00","1,810.00","8,510.00","2,916.00","6,035.00",690.00,"2,035.00"
3,169.00,772.00,233.00,"1,665.00",616.00,"6,213.00",759.00,"3,433.00",154.00,"1,483.00"
4,47.00,351.00,31.00,496.00,77.00,"1,133.00",66.00,557.00,12.00,211.00
5,237.00,785.00,270.00,"1,716.00",664.00,"6,608.00",723.00,"2,959.00",166.00,"1,130.00"
...,...,...,...,...,...,...,...,...,...,...
176267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,NaN,NaN
176269,NaN,NaN,NaN,NaN,NaN,NaN,1.00,NaN,NaN,NaN
176271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00
176273,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176275,NaN,NaN,NaN,NaN,NaN,1.00,NaN,NaN,NaN,NaN

In [211]:
# rename the various rating columns.
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [212]:
rating_counts

,rating_0.5,rating_1.0,rating_1.5,rating_2.0,rating_2.5,rating_3.0,rating_3.5,rating_4.0,rating_4.5,rating_5.0
movieId,,,,,,,,,,
1,441.00,804.00,438.00,"2,083.00","1,584.00","11,577.00","5,741.00","22,020.00","5,325.00","15,995.00"
2,263.00,797.00,525.00,"2,479.00","1,810.00","8,510.00","2,916.00","6,035.00",690.00,"2,035.00"
3,169.00,772.00,233.00,"1,665.00",616.00,"6,213.00",759.00,"3,433.00",154.00,"1,483.00"
4,47.00,351.00,31.00,496.00,77.00,"1,133.00",66.00,557.00,12.00,211.00
5,237.00,785.00,270.00,"1,716.00",664.00,"6,608.00",723.00,"2,959.00",166.00,"1,130.00"
...,...,...,...,...,...,...,...,...,...,...
176267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,NaN,NaN
176269,NaN,NaN,NaN,NaN,NaN,NaN,1.00,NaN,NaN,NaN
176271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00
176273,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176275,NaN,NaN,NaN,NaN,NaN,1.00,NaN,NaN,NaN,NaN

In [213]:
# merge ratings_df with movies_df on 'kaggle_id'.
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [216]:
# fill non-values with zero, where movie did not receive any at certain rating level.
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [217]:
movies_with_ratings_df.head()

,wikipedia_url,year,imdb_link,based_on,starring,cinematography,Release date,country,director,distributor,...,rating_0.5,rating_1.0,rating_1.5,rating_2.0,rating_2.5,rating_3.0,rating_3.5,rating_4.0,rating_4.5,rating_5.0
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",Oliver Wood,"[July 11, 1990, (, 1990-07-11, )]",United States,Renny Harlin,20th Century Fox,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",Mark Plummer,"[May 17, 1990, (, 1990-05-17, ), (Cannes Film ...",United States,James Foley,Avenue Pictures,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",Roger Deakins,"[August 10, 1990, (, 1990-08-10, )]",United States,Roger Spottiswoode,TriStar Pictures,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",Carlo Di Palma,"[December 25, 1990, (, 1990-12-25, )]",United States,Woody Allen,Orion Pictures,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",Russell Boyd,"December 19, 1990",US,John Cornell,Paramount Pictures,...,3.00,0.00,3.00,2.00,5.00,26.00,37.00,46.00,16.00,11.00

In [219]:
# create a connection string
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [220]:
# create engine 
engine = create_engine(db_string)

In [222]:
# save dataframe to sql table, assign the name 'movies' to the table, and connect to engine. 
movies_df.to_sql(name='movies', con=engine)

In [223]:
movies_df.count()

wikipedia_url            6051
year                     6051
imdb_link                6051
based_on                 1972
starring                 5939
cinematography           5567
Release date             6040
country                  5881
director                 6051
distributor              5869
editors                  5700
composers                5703
producers                5934
writers                  5916
imdb_id                  6051
belongs_to_collection    1029
budget                   4611
genres                   6051
homepage                 1796
kaggle_id                6051
original_language        6051
original_title           6051
overview                 6046
popularity               6051
poster_path              6049
production_companies     6051
production_countries     6051
release_date             6051
revenue                  5171
runtime                  6050
spoken_languages         6051
status                   6047
tagline                  4917
title                    6051
vote_average             6051
vote_count               6051
dtype: int64

In [224]:
# import the ratings data to Postgres.
rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}\\ratings.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='ratings', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 1000000...Done. 21.433576583862305 total seconds elapsed
importing rows 1000000 to 2000000...Done. 43.205573081970215 total seconds elapsed
importing rows 2000000 to 3000000...Done. 64.24795532226562 total seconds elapsed
importing rows 3000000 to 4000000...Done. 86.05873107910156 total seconds elapsed
importing rows 4000000 to 5000000...Done. 107.15631556510925 total seconds elapsed
importing rows 5000000 to 6000000...Done. 128.64776849746704 total seconds elapsed
importing rows 6000000 to 7000000...Done. 149.44145464897156 total seconds elapsed
importing rows 7000000 to 8000000...Done. 170.908278465271 total seconds elapsed
importing rows 8000000 to 9000000...Done. 192.5844485759735 total seconds elapsed
importing rows 9000000 to 10000000...Done. 213.733238697052 total seconds elapsed
importing rows 10000000 to 11000000...Done. 234.90021538734436 total seconds elapsed
importing rows 11000000 to 12000000...Done. 258.23169136047363 total seconds elapsed
importing rows 12000000 to 13000000...Done. 286.4579403400421 total seconds elapsed
importing rows 13000000 to 14000000...Done. 315.06851959228516 total seconds elapsed
importing rows 14000000 to 15000000...Done. 341.9837691783905 total seconds elapsed
importing rows 15000000 to 16000000...Done. 369.03971576690674 total seconds elapsed
importing rows 16000000 to 17000000...Done. 395.404803276062 total seconds elapsed
importing rows 17000000 to 18000000...Done. 422.7620589733124 total seconds elapsed
importing rows 18000000 to 19000000...Done. 449.77507281303406 total seconds elapsed
importing rows 19000000 to 20000000...Done. 476.784339427948 total seconds elapsed
importing rows 20000000 to 21000000...Done. 504.49355721473694 total seconds elapsed
importing rows 21000000 to 22000000...Done. 533.5078859329224 total seconds elapsed
importing rows 22000000 to 23000000...Done. 560.7174384593964 total seconds elapsed
importing rows 23000000 to 24000000...Done. 586.407883644104 total seconds elapsed
importing rows 24000000 to 25000000...Done. 634.2513446807861 total seconds elapsed
importing rows 25000000 to 26000000...Done. 672.7376549243927 total seconds elapsed
importing rows 26000000 to 26024289...Done. 673.2672367095947 total seconds elapsed

In [225]:
ratings.count()

userId       26024289
movieId      26024289
rating       26024289
timestamp    26024289
dtype: int64